/* main style */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.container div {
	margin-bottom: 20px;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.button-container button {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 16px;
    cursor: pointer;
}

.container {
	width: 80%;
	border: 2px solid #dedede;
	background-color: #f1f1f1;
	border-radius: 5px;
	padding: 10px;
	margin: 0 auto;
	text-align: center;
}

.container i {
	font-size: 60px;
	padding: 10px;
}

.btn{
    background-color: #04AA6D;
	border: none;
	border-radius: 6px;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}

.form-select {
	padding: 10px;
	margin: 10px 0;
	font-size: 16px;
	border-radius: 6px;
}

button[type="submit"] {
	background-color: #04AA6D;
	border: none;
	border-radius: 6px;
	color: white;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 10px 0;
	cursor: pointer;
}
		
footer {
	background-color: #ffff;
	margin-top: 20px;
	padding: 32px;
	display: flex;
	justify-content: center;
}

footer .footers {
	width: 500px;
	display: flex;
	justify-content: space-between;
	text-decoration: none;
}

footer a {
	color: rgb(29, 29, 29);
	text-decoration: none;
}